body {
    margin-top: 20px !important;
    background-color: rgb(231, 231, 231) !important;
    display: block !important;
    max-width: 1240px;
    margin: 20px auto !important;
 }
h1 ,h3 {
   color: #4e53f5 !important;
}
p ,strong , span {
   color :#4e53f5 !important;
}
i, em {
   color: #5b5b5b !important;
}
a {
   text-decoration: none !important;
}
 .nav a{
    text-decoration: none;
    padding: 5px;
    color:#4e53f5 !important;
    background-color: none !important;
    border: 1px solid transparent;
 }
 .nav a:hover {
    color: rgb(231, 231, 231) !important;
    border: 1px solid rgb(231, 231, 231);
    background-color: #4e53f5;
    transition: 200ms;
    border-radius: 10px;
 }

 .nav-btn form button{
    color :rgb(231, 231, 231) !important;
    background-color: #4e53f5;
    border: 1px solid transparent;
 }
 
 .nav-btn form button:hover{
    color :#4e53f5 !important;
    background-color: rgb(231, 231, 231);
    border: 1px solid #4e53f5;  
    border-radius: 5px;
    transition: 200ms;
 }

 .search h4 {
    width: 240px;
    color: #4e53f5 ;
    overflow-wrap: normal;
}

 textarea#comment_body.input ,textarea#post_body , input#post_title{
   background-color: rgb(231, 231, 231) !important;
   color: #4e53f5 !important;
 }
 .search #q_title_cont {
   background-color: rgb(231, 231, 231);
   color: #4e53f5;
    width: 100%;
    margin-right: 10px;
 }
 .search input[type="submit"] {
    background-color: rgb(231, 231, 231) !important;
    color: #4e53f5;
    border: 1px solid #4e53f5;
 }
 .search {
    display: flex;
    align-items: center;
 }
 .card {
   background-color: rgb(231, 231, 231) !important;
   color: #4e53f5 !important;
   border-color: #4e53f5;
 }

 .user-tbl {
   width: 100% !important;
   background-color: rgb(231, 231, 231)!important;
   --accent-bg: white !important;
 }
 .user-tbl td:last-child {
   display: flex !important;
   flex-direction: row !important;
   align-content: center !important;
   justify-content: space-evenly;
   border: none;
 }
 .user-tbl th {
   border: none;
   color: #5b5b5b;
 }
 
 .user-tbl td{
   color: black !important;  
   border: none;
 }

 .btn-gp {
   display: flex !important;
   gap: 20px;
 }
 .custom-pagi {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-pagi .page-link {
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  padding: 2px 3px;
}

.profile-preview {
   position: absolute;
   right: 18%;
   top: 7%;

}